.base {
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
}
.header {
  font-weight: bold;
  font-size: 0.5rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
}
.header .header-back {
  width: 1.40625rem;
  height: 1.40625rem;
  text-align: center;
}
.header .header-title {
  width: 6.25rem;
  height: 1.40625rem;
  display: inline-block;
  text-align: center;
}
.location {
  font-size: 0.46875rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
  color: #878787;
}
.location .location-icon {
  margin-left: 0.3125rem;
}
.location .location-edit {
  float: right;
  margin-right: 0.3125rem;
  text-decoration: none;
  color: #db292f;
}
.JD {
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.5rem;
}
.JD .JD-checked {
  width: 1.3125rem;
  text-align: center;
  color: #db292f;
  font-size: 0.625rem;
}
.JD .JD-word {
  color: #878787;
  margin-right: 0.3125rem;
}
.JD .JD-text {
  font-weight: bold;
}
.description {
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.4375rem;
  color: #878787;
  padding-left: 0.3125rem;
  box-sizing: border-box;
}
.description .description-text {
  margin-right: 0.15625rem;
}
.goods {
  height: 4.6875rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.3125rem;
  box-sizing: border-box;
}
.goods .goods-container {
  float: left;
  display: block;
  height: 3.125rem;
  line-height: 3.125rem;
  box-sizing: border-box;
}
.goods .goods-container .goods-check {
  overflow: hidden;
  font-size: 0.625rem;
  color: #878787;
  height: 3.125rem;
  line-height: 3.125rem;
}
.goods .goods-text {
  float: right;
  width: 5rem;
}
.goods .goods-text .goods-name {
  display: block;
  font-size: 0.46875rem;
  font-weight: bold;
}
.goods .goods-text .goods-weight {
  display: block;
  font-size: 0.4375rem;
}
.goods .goods-text .goods-price {
  display: inline-block;
  color: red;
  font-size: 0.40625rem;
}
.goods .goods-text .goods-number {
  float: right;
}
.goods .goods-text .goods-number .goods-number-item {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0.78125rem;
  height: 0.78125rem;
  line-height: 0.78125rem;
  font-size: 0.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.goods .goods-text .goods-menu {
  float: right;
  margin-top: -10px;
}
.goods .goods-text .goods-menu .goods-menu-item {
  display: inline-block;
  color: #878787;
  font-size: 0.46875rem;
}
.footer {
  padding-left: 0.3125rem;
  height: 1.40625rem;
  margin-right: 10px;
  text-align: center;
  box-sizing: border-box;
}
.footer .footer-check {
  float: left;
  line-height: 1.40625rem;
  height: 1.40625rem;
  padding-top: 0.15625rem;
  padding-bottom: 0.15625rem;
  box-sizing: border-box;
  display: inline-block;
}
.footer .footer-check .footer-checked {
  font-size: 0.625rem;
  color: #db292f;
  display: block;
}
.footer .footer-check .footer-check-text {
  color: #878787;
  font-size: 0.4375rem;
  line-height: 0.5625rem;
}
.footer .footer-price {
  float: left;
  display: inline-block;
  padding-top: 0.15625rem;
  padding-left: 0.625rem;
  box-sizing: border-box;
}
.footer .footer-price .footer-price-maney {
  font-size: 0.5rem;
  font-weight: bold;
}
.footer .footer-price .footer-price-maney span {
  color: #db292f;
  font-size: 0.5rem;
}
.footer .footer-price .footer-price-all {
  font-size: 0.375rem;
  color: #878787;
}
.footer .footer-number {
  box-sizing: border-box;
  float: right;
}
.footer .footer-number .footer-number-shopping {
  width: 3.125rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.5625rem;
  color: #fff;
  background-color: #db292f;
}
