{% extends './layout.html' %}

{% block header %}
新建文章
{% endblock %}

{% block content %}

    <form class="form-horizontal" action="/artical/add" method="post">

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">分类名称</label>
        <div class="col-sm-4">
           <select class="form-control" name="category">
            {% for category in categories %}
         <!--    传递_id是因为id不会变，而name会手动编辑修改 -->
              <option value="{{ category._id.toString() }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
       
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label">title</label>
        <div class="col-sm-4">
          <input type="text" name="title" class="form-control"  value="title">
        </div>
         <p class="text-danger err">判断是否为空等前端错误</p>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">简介</label>
        <div class="col-sm-4">
          <textarea name="introduce" cols="60" rows="10"></textarea>
        </div>
         <p class="text-danger err">判断是否为空等前端错误</p>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">内容</label>
        <div class="col-sm-4">
          <textarea name="content" id="editor"></textarea>
        </div>
         <p class="text-danger err">判断是否为空等前端错误</p>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-default" id="btn-sub">提交</button>
        </div>
      </div>
    </form>

{% endblock %}
{% block end%}
 <script src="/lib/ckeditor/ckeditor.js"></script> 
 <script src="/lib/ckeditor/translations/zh-cn.js"></script>
<script src="/js/article.js"></script> 
 {% endblock %}