@rem:32;//根据rem.js计算,此处已确定在何种设备上显示->iphone5
@border-color:#e5e5e5;
.rem(@attr,@px1){
	@{attr}:unit(@px1/@rem,rem);
}
.rem(@attr,@px1,@px2){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem,rem);
}
.rem(@attr,@px1,@px2,@px3,@px4){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem,rem) unit(@px3/@rem,rem) unit(@px4/@rem,rem);
}
.base{
	.rem(height,45);
	.rem(line-height,45);
	border-bottom: 1px solid @border-color;
}
.header{
	font-weight: bold;
	.rem(font-size,16);
	.base;
	.header-back{
		.rem(width,45);
		.rem(height,45);
		text-align: center;
	}
	.header-title{
		.rem(width,200);
		.rem(height,45);
		display: inline-block;
		text-align: center;
	}
}
.location{
	.rem(font-size,15);
	.base;
	color:rgb(135,135,135);
	.location-icon{
	.rem(margin-left,10);
	}
	.location-edit{
		float: right;
		.rem(margin-right,10);
		text-decoration: none;
		color:#db292f;
	}
}
.JD{
	.base;
	.rem(font-size,16);
	.JD-checked{
		.rem(width,42);
		text-align: center;
		color:#db292f;
		.rem(font-size,20);
	}
	.JD-word{
		color:rgb(135,135,135);
		.rem(margin-right,10);
	}
	.JD-text{
		font-weight: bold;
	}
}
.description{
	.base;
	.rem(font-size,14);
	color:rgb(135,135,135);
	.rem(padding-left,10);
	box-sizing: border-box;
	.description-text{
		.rem(margin-right,5);
	}
}
.goods{
	// .rem(width,320);
	.rem(height,150);
	border-bottom: 1px solid @border-color;
	.rem(padding,10);
	box-sizing: border-box;
	.goods-container{
		float: left;
		display: block;
		.rem(height,100);
		.rem(line-height,100);
		box-sizing: border-box;
		.goods-check{
			overflow: hidden;
			.rem(font-size,20);
			color: rgb(135,135,135);
			.rem(height,100);
			.rem(line-height,100);
		}
	}
	.goods-text{
		float: right;
		.rem(width,160);
		.goods-name{
			display: block;
			.rem(font-size,15);
			font-weight: bold;
		}
		.goods-weight{
			display: block;
			.rem(font-size,14);
		}
		.goods-price{
			display: inline-block;
			color:red;
			 .rem(font-size,13);
		}
		.goods-number{
			float: right;
			.goods-number-item{
				display: inline-block;
				background-color: rgba(0,0,0,0.1);
				.rem(width,25);
				.rem(height,25);
				.rem(line-height,25);
				.rem(font-size,16);
				text-align: center;
				color:rgba(0,0,0,0.8);
			}
		}
		
		.goods-menu{
			float: right;
			margin-top: -10px;
			
			.goods-menu-item{
			display: inline-block;
			color: rgb(135,135,135);
			.rem(font-size,15);
		}
		}
		
	}
}
.footer{
	.rem(padding-left,10);
	.rem(height,45);
	
	margin-right: 10px;
	text-align: center;
	box-sizing: border-box;
	.footer-check{
		float: left;
		.rem(line-height,45);
		.rem(height,45);
		.rem(padding-top,5);
		.rem(padding-bottom,5);
		box-sizing: border-box;
		display: inline-block;
		.footer-checked{
			.rem(font-size,20);
			color:#db292f;
			display: block;
		}
		.footer-check-text{
			color:rgb(135,135,135);
			.rem(font-size,14);
			.rem(line-height,18);
		}
	}
	.footer-price{
		float: left;
		display: inline-block;
		.rem(padding-top,5);
		.rem(padding-left,20);
		box-sizing: border-box;
		.footer-price-maney{
			.rem(font-size,16);
			font-weight: bold;
		}
		.footer-price-maney span{
			color:#db292f;
			.rem(font-size,16);
		}
		.footer-price-all{
			.rem(font-size,12);
			color:rgb(135,135,135);
		}
	}
	.footer-number{
		box-sizing: border-box;
		float: right;
		.footer-number-shopping{
			.rem(width,100);
			.rem(height,45);
			.rem(line-height,45);
			text-align: center;
			box-sizing: border-box;
			.rem(font-size,18);
			color:#fff;
			background-color:#db292f;
		}
	}

}