<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人博客</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"><!-- 带有重置效果 -->
	<link rel="stylesheet" href="css/carosuel.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<nav class="navbar navbar-default" id="xx-navbar">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#xx-top-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">我的博客</a>
	    </div>
	    <div class="collapse navbar-collapse" id="xx-top-nav">
	      <ul class="nav navbar-nav">
	       <li><a href="index.html">首页</a></li>
	        <li class="active"><a href="list.html">HTML/CSS</a></li>
	        <li><a href="list.html">JavaScript</a></li>
	        <li><a href="list.html">学无止境</a></li>
	        <li><a href="list.html">我的足迹</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					
					<div class="panel panel-default" id="xx-panel">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="detail.html" class="link">移动设备优先</a>
						    </h3>
						  </div>
						  <div class="panel-body">
						    在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
						  </div>
						  <div class="panel-footer">
						  	<span class="glyphicon glyphicon-user"></span>
						  	<span class="panel-footer-text">小新</span>
						  	<span class="glyphicon glyphicon-th-list"></span>
						  	<span class="panel-footer-text">JavaScript</span>
						  	<span class="glyphicon glyphicon-time"></span>
						  	<span class="panel-footer-text">2018-7-17</span>
						  	<span class="glyphicon glyphicon-eye-open"></span>
						  	<span class="panel-footer-text">1000已阅读</span>
						  </div>
					</div>
					<div class="panel panel-default" id="xx-panel">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="detail.html" class="link">移动设备优先</a>
						    </h3>
						  </div>
						  <div class="panel-body">
						    在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
						  </div>
						  <div class="panel-footer">
						  	<span class="glyphicon glyphicon-user"></span>
						  	<span class="panel-footer-text">小新</span>
						  	<span class="glyphicon glyphicon-th-list"></span>
						  	<span class="panel-footer-text">JavaScript</span>
						  	<span class="glyphicon glyphicon-time"></span>
						  	<span class="panel-footer-text">2018-7-17</span>
						  	<span class="glyphicon glyphicon-eye-open"></span>
						  	<span class="panel-footer-text">1000已阅读</span>
						  </div>
					</div>
					<div class="panel panel-default" id="xx-panel">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="detail.html" class="link">移动设备优先</a>
						    </h3>
						  </div>
						  <div class="panel-body">
						    在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
						  </div>
						  <div class="panel-footer">
						  	<span class="glyphicon glyphicon-user"></span>
						  	<span class="panel-footer-text">小新</span>
						  	<span class="glyphicon glyphicon-th-list"></span>
						  	<span class="panel-footer-text">JavaScript</span>
						  	<span class="glyphicon glyphicon-time"></span>
						  	<span class="panel-footer-text">2018-7-17</span>
						  	<span class="glyphicon glyphicon-eye-open"></span>
						  	<span class="panel-footer-text">1000已阅读</span>
						  </div>
					</div>
					<nav aria-label="Page navigation" id="xx-page">
						  <ul class="pagination  pagination-lg">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
					</nav>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<div class="ad">
						<a href="#" class="thumbnail">
						      <img src="images/ad/321076.jpg" alt="...">
						</a>
					</div>
					<div class="ad">
						<a href="#" class="thumbnail">
						      <img src="images/ad/321080.jpg" alt="...">
						</a>
					</div>
					<div class="panel panel-default" id="xx-me">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="#" class="link">博主介绍</a>
						    </h3>
						  </div>
						  <div class="panel-body">
							   <div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object img-circle about-me-img" src="images/me/dogLogo.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading">Tom</h4>
								    80后草根！07年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。
								  </div>
								</div>
						  </div>
					</div>
					<div class="panel panel-default" id="xx-rank">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="#" class="link">点击排行</a>
						    </h3>
						  </div>
						  <div class="panel-body">
						   	<a href="#" class="link">深入了解bootstrap，头像图片是圆形显示的</a>
						   	<a href="#" class="link">深入了解bootstrap，头像图片是圆形显示的</a>
						   	<a href="#" class="link">深入了解bootstrap，头像图片是圆形显示的</a>
						  </div>

					</div>
					<div class="panel panel-default" id="xx-followme">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<a href="#" class="link">关注我</a>
						    </h3>
						  </div>
						  <div class="panel-body">
							   <div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object img-responsive followme-img" src="images/me/id.jpg" alt="...">
								    </a>
								  </div>
								</div>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="lib/jQuery/jquery-1.12.4.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</html>