<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title><%= htmlWebpackPlugin.options.title %> -KMALL电商平台
		
	</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="detail">
		<div class="container">
			<div class="detail-box">
				<div class="product-intro clearfix">
					<div class="product-img">
						<div class="product-main-img">
							<img src="http://127.0.0.1:3000/product-image/1536568068101.jpg" alt=""/>
						</div>
						<ul class="product-small-img-list clearfix">
							<li class="product-samll-img-item">
								<img src="http://127.0.0.1:3000/product-image/1536568068101.jpg" alt=""/>
							</li>
							<li class="product-samll-img-item">
								<img src="http://127.0.0.1:3000/product-image/1536568068101.jpg" alt=""/>
							</li>
							<li class="product-samll-img-item">
								<img src="http://127.0.0.1:3000/product-image/1536568068101.jpg" alt=""/>
							</li>
							<li class="product-samll-img-item">
								<img src="http://127.0.0.1:3000/product-image/1536568068101.jpg" alt=""/>
							</li>
						</ul>
					</div>
					<div class="product-info">
						<h2 class="prouct-name">xxx</h2>
						<p class="product-description">miaoshu</p>
						<div class="product-price">
							<span class="label">价格</span>
							<span class="info">￥<span>1</span></span>
						</div>
						<div class="product-stock">
							<span class="label">库存</span>
							<span class="info">1</span>件
						</div>
						<div class="product-number clearfix">
							<span class="label">数量</span>
							<span class="count-btn minus">
								<i class="fa fa-minus"></i>
							</span>
							<input type="text" value="1" class="count-input">
							<span class="count-btn plus">
								<i class="fa fa-plus"></i>
							</span>
							
						</div>
						<div class="dowhat">
							<div class="cart">加入购物车</div>
							<div class="shopping">立即购买</div>
						</div>
					</div>
				</div>
				<div class="product-detail">
					
				</div>
			</div>
		</div>
	</div>
	 <%= require('html-loader!./common/footer.html') %>
</body>
</html>