<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title><%= htmlWebpackPlugin.options.title %> -KMALL电商平台
		
	</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="order-confirm">
		<div class="container">
			<div class="shipping-box">

			</div>
			<div class="product-box">

			</div>
			<div class="modal-box">
				<div class="modal hide" id="modal">
					<div class="modal-container">
						<div class="modal-header">
							<h2 class="modal-title">新增地址</h2>
							<i class="fa fa-close close-icon"></i>
						</div>
						<div class="modal-body">
							<div class="form">
								<div class="form-box">
									<div class="errorMsg hide"> 
										<i class="fa fa-minus-circle"></i>
										<span class="error-msg">error</span>
									</div>
									<div class="form-item">
										<label for="" class="form-label">
											<i class="fa fa-user"></i>
										</label>
										<input type="text" class="form-content" name="username" placeholder="请输入用户姓名">
									</div>
									<div class="form-item">
										<label for=""  class="form-label">
											<i class="fa fa-phone"></i>
										</label>
										<input type="text" class="form-content" name="phone" placeholder="请输入手机号">
									</div>
									<div class="form-item city-item">
										<label for="" class="form-label">
											<i class="fa fa-building"></i>
										</label>
										<select name="province"></select>
										<select name="city"></select>
									</div>
									<div class="form-item">
										<label class="form-label">
											<i class="fa fa-building"></i>
										</label>
										<input type="text" class="form-content" name="address" placeholder="请输入详细地址,街道、门牌号">
									</div>
									<div class="form-item">
										<label for=""  class="form-label">
											<i class="fa fa-envelope"></i>
										</label>
										<input type="text" class="form-content" name="zip" placeholder="请输入邮编，如474173">
									</div>
									<div>
										<a href="javascript:;" class="btn btn-submit" id="btn-submit">提交</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <%= require('html-loader!./common/footer.html') %>
</body>
</html>