/*顶部导航开始*/
	.nav-header{
		height: 44px;
		background-color:#f3f5f7;
	}
	.nav-left{
		line-height: 44px;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}
	.nav-login{
		color: #ea675a;
		text-decoration: none;
	}
	.nav-category{
		line-height: 44px;
		margin:0 10px;
	}
	.nav-header .dropdown{
		height: 44px;
		line-height: 44px;
	}
	.nav-header .dropdown-toggle{
		display: block;/*因为a标签是行内元素*/
		height: 44px;
		line-height: 44px;
		padding: 0 10px;
	}
	.nav-header .dropdown-layer{
		background-color: #fff;
		top: 44px;
		/*width: 100px;*/
		border: 1px solid #f3f5f7;
		display: none;
	}
	.nav-header .menu-item{
		display: block;
		line-height: 30px;
		padding: 0 5px;
		white-space: nowrap;/*使元素中的内容显示在一行*/
	}
	.nav-header .menu-item:hover{
		background-color: #f3f5f7;
	}
	.dropdown-arrow{
		margin-left: 5px;	
	}
	/*只需给某一元素加上dropdown-active的类，便可以使其下边有相应类名的子元素执行某些参数*/
	.menu-active .dropdown-layer{
		display: block;
	}
	.menu-active .dropdown-toggle{
		background-color: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.menu-active .dropdown-arrow{
		transform: rotate(180deg);
	}
/*顶部导航结束*/
/*头部开始*/
	.header{
		width: 100%;
		height: 100px;
		background-color: red;
	}
	.head-logo{
		display: block;/*将a标签设置为块状元素*/
		width: 150px;
		height: 71px;
		margin-top: 36px;
		background: url(../images/header-logo.png) no-repeat;
		background-size: 150px;/*设置一个参数，另一个则会等比缩放*/
	}
/*头部结束*/
/*主区域开始*/
	.content{
		width: 100%;
		height: 100px;
		background-color:pink;
	}
/*主区域结束*/