/*顶部导航开始*/
	.nav-header{
		height: 44px;
		background-color:#f3f5f7;
	}
	.nav-left{
		line-height: 44px;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}
	.nav-login{
		color: #ea675a;
		text-decoration: none;
	}
	.nav-category{
		line-height: 44px;
		margin:0 10px;
	}
	.nav-header .dropdown{
		height: 44px;
		line-height: 44px;
	}
	.nav-header .dropdown-toggle{
		display: block;/*因为a标签是行内元素*/
		height: 44px;
		line-height: 44px;
		padding: 0 10px;
	}
	.nav-header .dropdown-layer{
		background-color: #fff;
		top: 44px;
		/*width: 100px;*/
		border: 1px solid #f3f5f7;
		display: none;
	}
	.nav-header .menu-item{
		display: block;
		line-height: 30px;
		padding: 0 5px;
		white-space: nowrap;/*使元素中的内容显示在一行*/
	}
	.nav-header .menu-item:hover{
		background-color: #f3f5f7;
	}
	.dropdown-arrow{
		margin-left: 5px;	
	}
	/*只需给某一元素加上dropdown-active的类，便可以使其下边有相应类名的子元素执行某些参数*/
	.menu-active .dropdown-layer{
		display: block;
	}
	.menu-active .dropdown-toggle{
		background-color: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.menu-active .dropdown-arrow{
		transform: rotate(180deg);
	}
/*顶部导航结束*/
/*头部开始*/
	.header{
		width: 100%;
		height: 100px;
		background-color: red;
	}
	.head-logo{
		display: block;/*将a标签设置为块状元素*/
		width: 150px;
		height: 71px;
		margin-top: 36px;
		background: url(../images/header-logo.png) no-repeat;
		background-size: 150px;/*设置一个参数，另一个则会等比缩放*/
	}
	.header .search{
		margin-top: 36px;
		margin-left: 150px;
	}
	.header .search-input{
		width: 400px;
		height: 40px;
		padding: 0 10px;
		box-sizing: border-box;
		outline: none;
	}
	.header .search-btn{
		width: 80px;
		height: 40px;
		border:none;
		box-sizing: border-box;
		border:1px solid #ccc;
		border-left: none;
		cursor: pointer;
		outline-width: 0px;
		background-color: black;
		color: white;
	}
	.header .search-layer{
		border: 1px solid #ccc;
		border-top: none;
		box-sizing: border-box;
	}
	.header .search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		box-sizing: border-box;
		background-color: #fff;
		cursor: pointer;
	}
	.header .search-item:hover{
		background-color: #f3f5f7;
	}
/*头部结束*/
/*主导航开始*/
	.nav-main{
		background-color:pink;
	}
	.nav-main .link{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		color: #fff;
		margin-right: 20px;
		font-size: 14px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航结束*/
/*主要内容开始*/
	/*category部分开始*/
		.category{
			position: relative;
			width: 208px;
			margin-top: -54px;
		}
		.category-title{
			display: block;
			width: 100%;
			height: 54px;
			line-height: 54px;
			font-size: 14px;
			background-color: #b1191a;
			color: #fff;
			padding-left: 10px;
			box-sizing: border-box;
		}
		.category-title .icon{
			margin-right: 5px;
		}
		.category .dropdown{
			position: static;/*取消其子元素对其定位*/
		}
		.category .dropdown-toggle{
			width: 100%;
			height: 36px;
			line-height: 36px;
			box-sizing: border-box;
			background-color: #ea675a;
			padding-left: 10px;
			cursor: pointer;
		}
		.category .dropdown-link{
			font-size: 14px;
			color: #fff;
		}
		.category .dropdown-icon{
			position: absolute;
			right: 10px;
			color: #fff;
			font-style: normal;
		}
		.category .dropdown-layer{
			top: 54px;
			left: 100%;
			width: 774px;
			min-height: 504px;
			background-color: #ccc;
			padding-bottom: 24px;/*下边距*/
			z-index: 1000;
		}
		.category-details{
			margin-top: 24px;
			font-size: 14px;
			width: 774px;
			overflow: hidden;
		}
		.category-details-title{
			width: 84px;
			text-align: right;
			padding-right: 10px;
			border-right: 1px solid #fff;
			box-sizing: border-box;
		}
		.category-details-title-link{
			font-weight: bold;
		}
		.category-details-item{
			width:680px;
			line-height:20px;
		}
		.category-details-item .link{
			margin-left: 10px;
			display: inline-block;/*可使一个a标签里的文字整体在一起,即不会另起一行*/
		}
		.category-active .dropdown-toggle{
			background-color: #ccc;
		}
		.category-active .dropdown-link,
		.category-active .dropdown-icon{
			color:#ea675a;
		}
		.category .dropdown-loading{
			margin: 220px auto;
		}
	/*category部分结束*/
	/*carousel开始*/
		.carousel{
			position: relative;
			background-color: red;
		}
		.carousel-item{
			width: 768px;
			width: 504px;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
		.carousel-item img{
			width: 768px;
			width: 504px;
		}
		.btns{
			position: absolute;
			left: 50%;
			bottom: 20px;
		}
		.btns-item{
			width: 12px;
			height: 12px;
			background-color: rgba(0,0,0,0.8);
			float: left;
			margin-right: 5px;
			border-radius: 50%;
		}
		.carousel-container .btn-item.active{
			background: #fff;
		}
		.control{
			position: absolute;
			top: 50%;
			width: 30px;
			height: 40px;
			background-color: rgba(0,0,0,0.8);
			color: #fff;
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			display: none;
			cursor: pointer;
		}
		.control-left{
			left: 0px;
		}
		.control-right{
			right: 0px;
		}
		.focus .carousel-container,
		.focus .carousel-container .carousel-item img{
			width: 768px;
			height: 504px;
		}
	/*carousel结束*/
/*主要内容结束*/